* {
  padding: 0;
  margin: 0;
}
section {
  display: grid;
  place-items: center;
  height: 100vh;
}
section .container {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  position: relative;
}
section .container .eyes {
  gap: 20px;
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
  position: relative;
  top: 25px;
  align-items: center;
}
section .container .eyes >.span:first-child {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 20%;
  border-radius: 30px;
  border: 1px solid green;
}
section .container .eyes >.span:last-child {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -20%;
  right: 20%;
  border-radius: 30px;
  border: 1px solid green;
}
.container .mouth{
  width: 30px;
  height: 30px;
  border: 1px solid green;
  position: absolute;
  bottom: 20%;
  right: 30%;
  padding: 10px 40px;
border-radius: 20px;
}
.span1{
  background-color: red;
}
